
.cabecalho {
  background: linear-gradient(to bottom, 
  #3456A7 0%, 
  #3456A7 40%,  
  rgba(52, 86, 167, 0.85) 60%,  
  rgba(52, 86, 167, 0.6) 75%,  
  rgba(52, 86, 167, 0.3) 88%,  
  rgba(52, 86, 167, 0.1) 95%,  
  rgba(52, 86, 167, 0.05) 98%,  
  rgba(52, 86, 167, 0) 100%
);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.cabecalho_logo{
  max-width: 230px;
  transition: 0.5s ease-in-out;
}
.cabecalho_logo:hover{
  transform: scale(1.05);
}


.menu_hamburguer {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.cabecalho_nav {
  display: flex;
  z-index: 9999;
}

.cabecalho_menu {
  display: flex;
  gap: 10px;
}


.cabecalho_menu_item{
  color:var(--cor-base);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  font-size: 18px;
  border: 1px solid transparent;
  letter-spacing: 3px;
  
}


.cabecalho_botao{
  color:var(--cor-base);
  border: 1px solid var(--cor-base);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 18px;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.236);
  letter-spacing: 5px;


}

.cabecalho_botao:hover{
  color: var(--cor-base);
  background-color: var(--cor-secundaria);
  border: 1px solid var(--cor-secundaria);
}




.cabecalho_menu li {
   position: relative;
}


.seta {
  font-size: 12px;
  margin-left: 5px;
}


.dropdown_menu {
  list-style: none;
  position: absolute;
  left: 0;
  top: 175%;
  background: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px 0;
  width: 180px;
  display: none; 
  z-index: 10;
}


.dropdown_menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #3456A7;
  transition: background 0.3s;
}

.dropdown_menu li a:hover {
  background: #f0f0f0;
}


.dropdown:hover .dropdown_menu {
  display: block;
} 




@media (max-width: 768px) {
  .cabecalho {
    padding: 10px;
    position: static;
    background:#3456A7;
  }

  .cabecalho_logo{
    max-width: 200px;
  }
  .menu_hamburguer {
    display: block;
  }

  .cabecalho_nav {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    background-color: var(--cor-principal);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .cabecalho_menu {
    flex-direction: column;
    gap: 15px;
  }

  .cabecalho_nav.ativo {
    display: block;
  }
  .cabecalho_botao{
    display: none;
  }
}