:root {
	--cor-principal: #3456A7;
	--cor-secundaria: #DB983B;
	--cor-texto:  #092054;
	--cor-base: #fafafa;
}

@font-face {
	font-family: 'Bomeffa';
	src: url('../fonts/Bomeffa-Regular.woff2') format('woff2'),
			 url('../fonts/Bomeffa-Regular.woff') format('woff'),
			 url('../fonts/bomeffa-regular.ttf') format('truetype'); 
	font-weight: normal;
	font-style: normal;
	color: #092054;
}



*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
  background-color:var(--cor-base);
	font-family: "Montserrat", serif;
}


select {
	padding: 10px;
	font-size: 16px;
	border: 1px solid var(--cor-destaque);
	background-color: var(--cor-principal);
	color: var(--cor-secundaria);
	cursor: pointer;
	transition: background 0.3s;
	border-radius: 10px;
	outline: none;
}

select:hover {
	background-color: var(--cor-destaque);
	color: white;
}

section {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.show {
  opacity: 1;
  transform: translateX(0);
}

header {
  transition: transform 0.3s ease-in-out;
}

header.hidden {
  transform: translateY(-100%);
}
.swiper-container {
  width: 100%;
  padding: 0 40px; 
  position: relative; 
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  width: auto !important;
	text-decoration: none;
}

.swiper-slide p{
		color: #092054;
		margin-bottom: 50px;
		font-weight: bold;
}

.instagram .swiper-wrapper img {
  width: 100%;
	width: 200px;
	transition: 0.3s ease-in-out;
}

/* Ajusta a posição das setas */
.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor visibilidade */
  color: white; /* Deixa as setas brancas */
  border-radius: 50%; /* Deixa as setas redondas */
}

/* Garante que as setas fiquem dentro da área visível */
.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}



/* Ajusta o carrossel para ocupar no máximo 400px e manter proporção */
.sobre .swiper-container {
  max-width: 800px; /* Limita a largura do carrossel */
  width: 100%;
  height: auto;
  flex-shrink: 0; /* Evita que ele encolha demais */
  overflow: hidden; /* Garante que só uma imagem apareça por vez */
}

/* Ajusta as imagens dentro do Swiper */
.sobre .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre .swiper-slide img {
  width: 100%;
  max-width: 750px;
  height: auto;
  border-radius: 30px;
  transition: 0.3s ease-in-out;
}

.sobre .swiper-pagination {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.sobre .swiper-pagination .swiper-pagination-bullet {
  background: #3456A7; /* Cor das bolinhas de navegação */
  opacity: 0.7;
  transition: opacity 0.3s;
}

.sobre .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1; /* A bolinha ativa fica mais visível */
}

.subtitulo{
	text-align: center;
	color: var(--cor-principal);
  font-size: 40px;
  font-weight: 800;
  font-family: "Montserrat", serif;
	margin-top: 80px;
}

main{
	min-height: 100vh;
}

@media (max-width: 768px) {
	.swiper-wrapper img {
		width: 100%;
		width: 150px;
		border-radius: 10px;
		transition: 0.3s ease-in-out;
	}
	
	
	/* Ajusta a posição das setas */
	.swiper-button-next,
	.swiper-button-prev {
		width: 40px;
		height: 40px;
		background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para melhor visibilidade */
		color: white; /* Deixa as setas brancas */
		border-radius: 50%; /* Deixa as setas redondas */
	}


	.sobre .swiper-slide img {
		width: 100%;
		max-width: 300px;
		height: auto;
		border-radius: 30px;
		transition: 0.3s ease-in-out;
	}
	
}