@font-face {
    font-family: 'Bomeffa';
    src: url('Bomeffa-Regular.woff2') format('woff2'),
        url('Bomeffa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

